* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
      font-size: 16px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1.5rem 0;
  }

  p {
    margin-bottom: 1rem;
  }
  
  .container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  /* PAGE --- */

  h1, p {
      text-align: center;
  }

  img {
      height: 100%;
  }

  h2 {
      margin: 0;
      font-size: 16px;
  }

  span {
      display: block;
  }

  .card {
      width: calc((100% / 3) - 30px);
      height: 100px;
      margin: 30px 15px;
      float: left;
      background-color: black;
      color: white;
  }

  .contact {
      float: right;
      width: calc(100% - 100px);
  }

  .card a {
    color: rgb(42, 255, 255);
  }